# We are working on a dataset

In [1]:
#Import 
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.model_selection import train_test_split
import pickle

In [2]:
df = pd.read_csv('Churn_Modelling.csv')

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
df.drop(['RowNumber','CustomerId','Surname'],axis = 1,inplace=True)

In [5]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
one_hot_encoder_geo = OneHotEncoder()
hot_geo = one_hot_encoder_geo.fit_transform(df[['Geography']])
hot_geo

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [7]:
hot_geo.toarray()

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [8]:
one_hot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [9]:
df_geo = pd.DataFrame(hot_geo.toarray(),columns=[one_hot_encoder_geo.get_feature_names_out(['Geography'])])

In [10]:
df_geo

     Geography_France Geography_Germany Geography_Spain
0                 1.0               0.0             0.0
1                 0.0               0.0             1.0
2                 1.0               0.0             0.0
3                 1.0               0.0             0.0
4                 0.0               0.0             1.0
...               ...               ...             ...
9995              1.0               0.0             0.0
9996              1.0               0.0             0.0
9997              1.0               0.0             0.0
9998              0.0               1.0             0.0
9999              1.0               0.0             0.0

[10000 rows x 3 columns]

In [11]:
df['Geography_France'] = df_geo['Geography_France']

In [12]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1,1.0
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,0.0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1,1.0
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0,1.0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,0.0

In [13]:
df['Geography_Germany']=df_geo['Geography_Germany']

In [14]:
df['Geography_Spain'] = df_geo['Geography_Spain']

In [15]:
df.drop(['Geography'],axis=1,inplace=True)

In [16]:
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,Female,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,Female,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,Female,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,Female,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,Female,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [17]:
label_encoder_gender = LabelEncoder()
df['Gender']= label_encoder_gender.fit_transform(df[['Gender']])
df

c:\Users\Lenovo\OneDrive\AI\ANN_END_TO_END\venv\Lib\site-packages\sklearn\preprocessing\_label.py:120: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [18]:
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('one_hot_encoder.pkl','wb') as file:
    pickle.dump(one_hot_encoder_geo,file)

In [19]:
X = df.drop(['Exited'],axis=1)
y = df['Exited']

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2,random_state=42)
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

In [20]:
with open ('scalar.pkl','wb') as file:
    pickle.dump(scaler,file)

In [21]:
print(y[:20])

0     1
1     0
2     1
3     0
4     0
5     1
6     0
7     1
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    1
17    0
18    0
19    0
Name: Exited, dtype: int64

## ANN Implementation

In [22]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

WARNING:tensorflow:From c:\Users\Lenovo\OneDrive\AI\ANN_END_TO_END\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [23]:
## Building a ANN model
model = Sequential([
    Dense(64,activation='relu',input_shape =(X_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1,activation='sigmoid')
])

WARNING:tensorflow:From c:\Users\Lenovo\OneDrive\AI\ANN_END_TO_END\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [24]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [25]:
import tensorflow
opt = tensorflow.keras.optimizers.Adam(learning_rate=0.01)

In [26]:
## Compiling the model
model.compile(optimizer=opt,loss="binary_crossentropy",metrics=['accuracy'])

In [27]:
## Getting callbacks
log_dir = "logs/fit" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
TensorBoard_callback = TensorBoard(log_dir = log_dir,histogram_freq=1)

In [28]:
#Set up EarlyStopping
earlyStopping_callback = EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [29]:
## Train the model
history_model = model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks = [TensorBoard_callback,earlyStopping_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\Users\Lenovo\OneDrive\AI\ANN_END_TO_END\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\Lenovo\OneDrive\AI\ANN_END_TO_END\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 1s 2ms/step - loss: 0.3964 - accuracy: 0.8363 - val_loss: 0.3518 - val_accuracy: 0.8510
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3535 - accuracy: 0.8562 - val_loss: 0.3513 - val_accuracy: 0.8515
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3481 - accuracy: 0.8564 - val_loss: 0.3376 - val_accuracy: 0.8585
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3410 - accuracy: 0.8611 - val_loss: 0.3492 - val_accuracy: 0.8530
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3396 - accuracy: 0.8605 - val_loss: 0.3505 - val_accuracy: 0.8575
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3372 - accuracy: 0.8597 - val_loss: 0.3437 - val_accuracy: 0.8570
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3353 - accuracy: 0.8646 - val_loss: 0.3410 - val_accuracy: 0.8570
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3346 - accuracy: 0.8631 - val_loss: 0.3428 - val_accuracy: 0.8605
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3307 - accuracy: 0.8651 - val_loss: 0.3499 - val_accuracy: 0.8615
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3309 - accuracy: 0.8610 - val_loss: 0.3416 - val_accuracy: 0.8530
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3270 - accuracy: 0.8625 - val_loss: 0.3375 - val_accuracy: 0.8635
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3224 - accuracy: 0.8661 - val_loss: 0.3418 - val_accuracy: 0.8650
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3217 - accuracy: 0.8660 - val_loss: 0.3475 - val_accuracy: 0.8595
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3176 - accuracy: 0.8650 - val_loss: 0.3454 - val_accuracy: 0.8585
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3164 - accuracy: 0.8699 - val_loss: 0.3521 - val_accuracy: 0.8610
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3166 - accuracy: 0.8689 - val_loss: 0.3436 - val_accuracy: 0.8615
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3135 - accuracy: 0.8721 - val_loss: 0.3505 - val_accuracy: 0.8645
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3080 - accuracy: 0.8715 - val_loss: 0.3581 - val_accuracy: 0.8625
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3093 - accuracy: 0.8700 - val_loss: 0.3561 - val_accuracy: 0.8645
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3056 - accuracy: 0.8715 - val_loss: 0.3519 - val_accuracy: 0.8645
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3040 - accuracy: 0.8716 - val_loss: 0.3556 - val_accuracy: 0.8645

In [30]:
model.save('model.h5')

c:\Users\Lenovo\OneDrive\AI\ANN_END_TO_END\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [31]:
import os
print(os.path.exists('logs/fit20260128-185540'))
print(os.listdir('logs/'))

True
['fit20260128-185540', 'fit20260129-140526', 'fit20260129-143253', 'fit20260129-144814', 'fit20260129-144941']

In [32]:
## Load Tensorboard extension
%load_ext tensorboard

In [33]:
%reload_ext tensorboard
%tensorboard --logdir logs/fit20260128-185540Z

Reusing TensorBoard on port 6007 (pid 26548), started 0:40:18 ago. (Use '!kill 26548' to kill it.)

In [34]:
!kill 10752

kill: 10752: No such process