In [58]:
#Import 
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.model_selection import train_test_split
import pickle

In [59]:
import tensorflow as tf
from tensorflow.keras.models import load_model
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

In [79]:
with open('label_encoder_gender.pkl','rb') as file:
    label_encoder_gender = pickle.load(file)

with open('one_hot_encoder.pkl','rb') as file:
    one_hot_encoder  = pickle.load(file)

with open('scalar.pkl','rb') as file:
    scaler = pickle.load(file)
model = load_model('model.h5')

In [61]:
one_hot_encoder.get_feature_names_out()

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [62]:
input_data = {
    'CreditScore':600,
    'Geography':'France',
    'Gender':'Male',
    'Age':40,
    'Tenure':3,
    'Balance':60000,
    'NumOfProducts':2,
    'HasCrCard':1,
    'IsActiveMember':1,
    'EstimatedSalary':50000

}

In [63]:
ont_hot_geo=one_hot_encoder.transform([[input_data['Geography']]]).toarray()

c:\Users\Lenovo\OneDrive\AI\ANN_END_TO_END\venv\Lib\site-packages\sklearn\utils\validation.py:2691: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [64]:
one_hot_encoder.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [65]:
label_gender=label_encoder_gender.transform([[input_data['Gender']]])

c:\Users\Lenovo\OneDrive\AI\ANN_END_TO_END\venv\Lib\site-packages\sklearn\preprocessing\_label.py:139: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

In [75]:
df_geo = pd.DataFrame(ont_hot_geo,columns=one_hot_encoder.get_feature_names_out(['Geography']),index=None)
df_geo

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [67]:
input_df = pd.DataFrame([input_data])

In [68]:
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [69]:
input_df['Gender']=label_gender

In [70]:
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,60000,2,1,1,50000

In [76]:
input_df = pd.concat([input_df.drop('Geography',axis=1),df_geo],axis=1)

In [77]:
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [81]:
## scaling the data
input_scale = scaler.transform(input_df)
input_scale

array([[-0.47154541,  0.90911166,  0.09477172, -0.69844549, -0.29010416,
         0.80510537,  0.63367318,  0.95214374, -0.84805047,  0.98019606,
        -0.57581067, -0.56349184]])

In [82]:
## Prediction
prediction = model.predict(input_scale)
prediction

1/1 [==============================] - 0s 106ms/step

array([[0.0294917]], dtype=float32)

In [86]:
prediction_proba = prediction[0][0]

In [ ]:
if(prediction_proba>0.5):
    print("exited")
else:
    print('nOT Excited')

nOT Excited

: